/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
	
	height: 100%;
	margin: 0;
	padding: 0;
	border: none;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

figure { margin: 0; }

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.center { text-align: center; }



body {
	background-color: #fafafa;
    font: 16px/26px 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	
	box-sizing: border-box;
	margin: 0;
	min-height: 100%;
}

#cocoon { height: 100%; width: 100%; position: relative; }

body.modal-open { overflow: hidden; position: relative; }
body.modal-open #cocoon { overflow: hidden; position: relative; }

h1,h2,h3,h4,h5,h6 {
	color: #222222;
	font-family: 'Playfair Display', 'Merriweather', Georgia, Times, serif;
	font-weight: 900;
}

a:link, a:visited { text-decoration: underline; transition: all .2s; }
a:hover, a:active { text-decoration: none; }

.container {
	width: 350px;
	position: relative;
	margin: 0 auto 0 auto;
}

@media only screen and (min-width: 430px) {
	.container { width: 450px; }
}

@media only screen and (min-width: 768px) {
	.container { width: 595px; }
}

@media only screen and (min-width: 1140px) {
	.container { width: 745px; }
}

.main-container {
	position: relative;
	width: 100%;
	margin-left: -10px;
	margin-right: -10px;
}

.intro { 
	margin: 20px auto 30px auto;
	font-style: italic;
	color: #888;
	font-size: 15px;
}
h1.title { font-weight: 700; font-style: italic; margin-bottom: 10px; }


/*
	***
	Navigation
	***
*/

#historicNavContainer {
	background-color: #fff;
}
nav#historicNav {
	font-size: 12px;
}
nav#historicNav ul { list-style-type: none; margin: 0; padding: 0; min-height: 100%; }
nav#historicNav ul li {
	display: inline-block;
	padding: 0;
	margin: 3px 7px 3px 0;
}

nav#historicNav li.main { font-weight: 700; }

nav#historicNav a:link,
nav#historicNav a:visited {
	color: #ccc;
}
nav#historicNav a:hover,
nav#historicNav a:active {
	color: #888;
}


/*
	***
	Students Overview
	***
*/

.student {
	display: block;
	position: relative;
	width: 90%;
	margin: 0 auto 10px auto;
	vertical-align: top;
}
.student figure:hover { cursor: pointer; }
.student figure img {
	display: inline-block;
	position: relative;
	width: 75px;
	height: 75px;
	margin: 0 auto 5px auto;
	border-radius: 1000px;
	background-color: #ccc;
}
.student figure figcaption {
	display: inline-block;
	text-align: center;
	width: auto;
	margin-left: .5em;
	font-weight: 600;
	color: #ccc;
	font-size: 16px;
	line-height: 16px;
	transition: all .2s;
}
.student:hover figcaption { color: #222; }

/*
	***
	Student Info Overlay
	***
*/

.studentInfoOverlay {
	display: block;
	position: fixed;
	min-height: 100%;
	min-width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: scroll;
	background-color: #fafafa;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
	
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.studentInfoOverlay.isOpen {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 1;
	visibility: visible;
	
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.studentInfoOverlay .close {
	display: block;
	position: fixed;
	top: 30px;
	right: 30px;
	height: 30px;
	width: 30px;
	text-indent: -10000px;
	background: url(../img/close.svg) center center no-repeat;
	cursor: pointer;
	
	-webkit-transition: all .2s;
	transition: all .2s;
}
.studentInfoOverlay .close:hover {
	opacity: .5;
	/*-webkit-transform: rotate(90deg);
	transform: rotate(90deg);*/
}
.studentInfo {
	display: block;
	width: 300px;
	text-align: center;
	margin: 57px auto 0 auto;
	font-size: 13px;
	
	opacity: 0;
	-webkit-transition: opacity .4s, margin .4s;
	-webkit-transition-delay: .5s; /* Chrome, Safari, Opera */
	transition: opacity .4s, margin .4s;
	transition-delay: .5s;
}
.studentInfoOverlay.isOpen .studentInfo {
	opacity: 1;
	margin-top: 50px;
}

.studentAvatar {
	width: 100px;
	height: 100px;
	border-radius: 1000px;
}
.studentName {
	font-size: 2em;
	margin-bottom: 5px;
 }
 
.studentMeta { margin-bottom: 30px; color: #ccc; }

.studentMeta a:link, .studentMeta a:visited { font-weight: 700; }
.studentMeta a:hover, .studentMeta a:active {  }

.projectName { font-size: 1.5em; margin-bottom: .5em; }
.projectDescription { text-align: left; }


@media only screen and (min-width: 480px) {
	.student {
		display: inline-block;
		position: relative;
		width: 125px;
		min-height: 175px;
		margin: 0 10px 0px 10px;
	}
	.student figure img {
		display: block;
		position: relative;
		width: 125px;
		height: 125px;
		margin: 0 auto 5px auto;
	}
	.student figure figcaption {
		display: inline-block;
		text-align: center;
		width: 100%;
		margin-left: 0;
		font-weight: 600;
		color: #ccc;
		font-size: 13px;
		line-height: 16px;
		transition: all .2s;
	}
	.studentInfo {
		width: 450px;
	}
}

@media only screen and (min-width: 768px) {
	.student { 
		display: inline-block;
		margin: 0 10px 0px 10px;
	}
	.studentInfo {
		width: 600px;
		margin-top: 107px;
	}
	.studentInfoOverlay.isOpen .studentInfo {
		opacity: 1;
		margin-top: 100px;
	}
	.studentAvatar {
		width: 150px;
		height: 150px;
	}
	.studentName { font-size: 3em; margin-bottom: 10px; }
	.projectName { font-size: 2em; margin-bottom: .5em; }
}

@media only screen and (min-width: 1140px) {
	
}


/*
	***
	Student Colors
	***
*/

#amanda a:link, #amanda a:visited { color: #ed135a; }
#amanda a:hover, #amanda a:active { color: #222; }

#michael a:link, #michael a:visited { color: #0ba2ce; }
#michael a:hover, #michael a:active { color: #222; }

#chenyu a:link, #chenyu a:visited { color: #000000; }
#chenyu a:hover, #chenyu a:active { color: #222; }

#nate a:link, #nate a:visited { color: #587373; }
#nate a:hover, #nate a:active { color: #222; }

#alex a:link, #alex a:visited { color: #35c9d0; }
#alex a:hover, #alex a:active { color: #222; }

#katrina a:link, #katrina a:visited { color: #f67fc5; } /* */
#katrina a:hover, #katrina a:active { color: #222; }

#daniel a:link, #daniel a:visited { color: #4FF1B8; }
#daniel a:hover, #daniel a:active { color: #222; }

#winnie a:link, #winnie a:visited { color: #b11116; }
#winnie a:hover, #winnie a:active { color: #222; }

#wenjie a:link, #wenjie a:visited { color: #6699ff; } 
#wenjie a:hover, #wenjie a:active { color: #222; }

#louis a:link, #louis a:visited { color: #e5004e; } 
#louis a:hover, #louis a:active { color: #222; }

#sally a:link, #sally a:visited { color: #001aff; }
#sally a:hover, #sally a:active { color: #222; }

#shiva a:link, #shiva a:visited { color: #FF3131; }
#shiva a:hover, #shiva a:active { color: #222; }

#iris a:link, #iris a:visited { color: #FF3131; }
#iris a:hover, #iris a:active { color: #222; }

#lolo a:link, #lolo a:visited { color: #FBB03B; }
#lolo a:hover, #lolo a:active { color: #222; }

#abu a:link, #abu a:visited { color: #f6d90c; }
#abu a:hover, #abu a:active { color: #222; }


/*
	STUDENT BG IMAGES
*/

.bg {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-size: cover;
	background-position: center center;
	opacity: .05;
	z-index: -1000;
}

#amanda .bg { background-image: url('../img/bg/amanda.jpg'); }
#michael .bg { background-image: url('../img/bg/michael.jpg'); }
#chenyu .bg { background-image: url('../img/bg/chenyu.jpg'); }
#nate .bg { background-image: url('../img/bg/nate.jpg'); }
#alex .bg { background-image: url('../img/bg/alex.jpg'); }
#katrina .bg { background-image: url('../img/bg/katrina.jpg'); }
#daniel .bg { background-image: url('../img/bg/daniel.jpg'); }
#winnie .bg { background-image: url('../img/bg/winnie.jpg'); }
#wenjie .bg { background-image: url('../img/bg/wenjie.jpg'); }
#louis .bg { background-image: url('../img/bg/louis.jpg'); }
#sally .bg { background-image: url('../img/bg/sally.jpg'); }
#shiva .bg { background-image: url('../img/bg/shiva.jpg'); }
#iris .bg { background-image: url('../img/bg/iris.jpg'); }
#lolo .bg { background-image: url('../img/bg/lolo.jpg'); }


/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}




/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}